version: '3.1'
services:

  auth-db:
    image: postgres:16
    networks:
      - hmpps
    container_name: auth-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=admin_password
      - POSTGRES_USER=admin
      - POSTGRES_DB=auth-db

  localstack:
    image: localstack/localstack:4
    networks:
      - hmpps
    container_name: localstack-pl
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sqs
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"

networks:
  hmpps:
