version: "3"
services:
  hmpps-external-users-api:
    image: quay.io/hmpps/hmpps-external-users-api:latest
    network_mode: "host"
    container_name: hmpps-external-users-api
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev,local-postgres
      - API_BASE_URL_OAUTH=http://hmpps-auth:8080/auth
      - SPRING_R2DBC_URL=r2dbc:postgresql://auth-db:5432/auth-db?sslmode=prefer
      - SPRING_FLYWAY_URL=jdbc:postgresql://auth-db:5432/auth-db?sslmode=prefer

  localstack:
    image: localstack/localstack:4
    networks:
      - hmpps
    container_name: localstack-pl
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sqs
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"

networks:
  hmpps:
